
html, body {
    box-sizing: border-box;
    height: 100%;
}

body {
    color: #747F8E;
    background-color: #F9F9F9;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
}

a, .text-primary {
    color: #35C2E1;
}
.text-primary-dark {
    color: #1f2733;
}

.border-primary {
    border-color: #1f2733;
}

.text-muted, .text-default {
    color: #949EAC;
}

.title-settings {
    padding: 12px 10px 18px 20px;
    color: #4977B9;
    line-height: 17px;
    margin: 4px 0 0;
    border-bottom: solid 1px #EAEAEA;
}

/* START Orbeon Specific CSS */
.orbeon .navbar {
    display: none;
}

.orbeon h1,
.orbeon h2,
.orbeon h3,
.orbeon h4,
.orbeon h5,
.orbeon h6 {
    font-size: revert !important;
}

.yui-skin-sam .orbeon *:not(.fa, .xforms-help) {
    font-family: 'Open Sans', sans-serif;
}

/* START BUTTONS */
button,
.yui-skin-sam .orbeon .btn,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn,
.yui-skin-sam .orbeon .fb-toolbox .fb-toolbox-inside .fb-tools .fb-tool .xforms-trigger button,
.yui-skin-sam .btn {
    background-image: none;
    padding: 5px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: none;
    text-shadow: none;
    border: solid 1px #ccc;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    height: fit-content;
}

.yui-skin-sam .orbeon .orbeon-portlet-body .btn-primary,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn.ladda-button,
.yui-skin-sam .btn-primary {
    background-color: #35C2E1;
    border: solid 1px #35C2E1;
    color: #ffffff;
}

.yui-skin-sam .orbeon .btn-danger i.fa,
.yui-skin-sam .orbeon .btn-warning i.fa,
.yui-skin-sam .orbeon .btn-primary i.fa,
.yui-skin-sam .orbeon .btn-inverse i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-danger i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-warning i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-inverse i.fa {
    color: #333333;
}

.yui-skin-sam .orbeon .btn:hover,
.yui-skin-sam .orbeon .btn:focus,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn:hover,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn:focus,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn:active,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn.active,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn.disabled,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
}

.yui-skin-sam .btn-primary:hover,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn-primary:hover,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn.ladda-button:hover,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn-primary:focus,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn.ladda-button:focus,
.yui-skin-sam .btn-primary:focus {
    background-color: #1fb3d3;
}

/* END BUTTONS */

.yui-skin-sam .orbeon .container,
.yui-skin-sam .orbeon .container .row,
.yui-skin-sam .orbeon .container .row > .span12 {
    width: 100%;
}

.yui-skin-sam .orbeon .row {
    margin: auto 0;
}

.yui-skin-sam .orbeon .container .row > .span12 {
    margin-left: 0;
}

.yui-skin-sam .orbeon .container {
    max-width: 100%;
    width: 100%;
}

.yui-skin-sam .orbeon .input-append > * {
    height: auto !important;
}

div.mask {
    top: 5vh;
    height: unset !important;
    width: unset !important;
}

.yui-skin-sam .orbeon .xbl-component input,
.yui-skin-sam .orbeon .xbl-component textarea,
.yui-skin-sam .orbeon .xbl-component select {
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    border: 1px solid #CED2D6;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.yui-skin-sam .orbeon input:not(input[type=checkbox], input[type=radio]),
.yui-skin-sam .orbeon select {
    height: 36px;
}

.yui-skin-sam .orbeon .fb-toolbox .fb-toolbox-inside .fb-tools .fb-tool button {
    margin: 0.3em auto;
}

.yui-skin-sam .orbeon.orbeon-portlet-div {
    background-color: #F9F9F9;
    border: 0;
}

.yui-skin-sam .orbeon form {
    margin: 0;
}

.yui-skin-sam .orbeon #o0fr-view {
    margin-bottom: 0;
}

.yui-skin-sam .orbeon .fb-toolbox .fb-toolbox-inside .fr-orbeon-version {
    color: #747F8E;
}

.yui-skin-sam .yui-dialog .yui-panel {
    border-width: 0;
}

.yui-skin-sam .yui-dialog .yui-panel .hd,
.yui-skin-sam .yui-dialog .yui-panel .bd,
.yui-skin-sam .yui-dialog .yui-panel .ft {
    border-width: 0;
}

.yui-skin-sam .yui-dialog {
    border-radius: 2px;
}

.yui-skin-sam .yui-dialog .yui-panel .hd {
    background-color: white;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.yui-skin-sam .yui-dialog .yui-panel .bd {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#o0dialog-form-settings≡xf-1588≡xf-1800≡xf-1827 {
    /* Hide td Organization/Application/team name from the builder dialog */
    display: none;
}
#o0dialog-form-settings≡xf-1588≡xf-1800≡xf-1845 {
    /* Hide td Form title from the builder dialog */
    display: none;
}
#o0dialog-form-settings≡xf-1588≡xf-1800≡xf-1839 {
    /* Stretch td Form Name in the builder dialog */
    width: 100%;
}

/* END Orbeon Specific CSS */

.list-group-item-thumbnail {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 4px;
    background-color: white;
    background-size: cover;
    background-position: center center;
    display: block;
    border: solid 1px #F4F4F4;
}

@media (min-width: 768px) {
    .list-group-item-thumbnail {
        width: 60px;
        height: 60px;
    }
}

.dropdown {
    color: white;
    display: inline-block;
    position: relative;
}

.dropdown .more-list {
    border: solid 1px transparent;
    background-color: transparent;
    font-size: 15px;
    padding: 11px 12px 10px 12px;
}

.dropdown .more-list i {
    color: #949EAC !important;
}

.dropdown .more-list:hover,
.dropdown .more-list:active {
    border: solid 1px #CED2D6;
}

.dropdown.open .more-list {
    border: solid 1px #CED2D6;
}

.dropdown.open > .dropdown-toggle.btn-default {
    border: solid 1px #CED2D6;
    background-color: #F4F4F4;
}

.dropdown.open .dropdown-toggle.btn-default:active,
.dropdown.open .dropdown-toggle.btn-default:hover {
    border: solid 1px #CED2D6;
    background-color: #F4F4F4;
}

.action-section > .dropdown .dropdown-menu > li > a.text-default {
    color: #747F8E;
}

.action-section > .dropdown .dropdown-menu > li > a.text-default.active,
.action-section > .dropdown .dropdown-menu > li > a.text-default.focus,
.action-section > .dropdown .dropdown-menu > li > a.text-default.hover {
    color: #1f2733;
}

.action-section > .dropdown .dropdown-menu > li > a.text-danger {
    color: #F34542;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 10px 0 2px 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 8px rgba(116, 127, 142, 0.4);
    box-shadow: 1px 1px 8px rgba(116, 127, 142, 0.4);
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #262626 !important;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.tabs > ul.nav {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    margin: 0;
    overflow: hidden;
}

.tabs > ul.nav > li {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: solid 1px #EAEAEA;
    cursor: pointer;
    width: 100%;
}

.tabs > ul.nav > li > a {
    cursor: pointer;
    display: block;
    font-weight: 300;
    padding: .75rem 0;
    text-align: center;
    letter-spacing: 0.6px;
    margin: 0 8px;
    color: #747F8E;
}

.tabs > ul.nav > li:hover,
.tabs > ul.nav > li:focus {
    background-color: #EAEAEA;
}

.tabs > ul.nav > li:hover > a,
.tabs > ul.nav > li:focus > a {
    color: #1f2733;
    background-color: transparent;
}

.tabs > ul.nav > li.ui-state-active {
    background-color: #EAEAEA;
}

.tabs > ul.nav > li.ui-state-active > a {
    color: black;
    background-color: transparent;
    border-bottom: solid 3px #11ddFF;
    padding-bottom: 3px;
}
