
html, body {
    box-sizing: border-box;
    height: 100%;
}

body {
    color: #747F8E;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
}

a {
    color: #35C2E1;
}

.title-settings {
    padding: 12px 10px 18px 20px;
    color: #4977B9;
    line-height: 17px;
    margin: 4px 0 0;
    border-bottom: solid 1px #EAEAEA;
}

/* START Orbeon Specific CSS */
.orbeon .navbar {
    display: none;
}

.orbeon h1,
.orbeon h2,
.orbeon h3,
.orbeon h4,
.orbeon h5,
.orbeon h6 {
    font-size: revert !important;
}

.yui-skin-sam .orbeon *:not(.fa, .xforms-help) {
    font-family: 'Open Sans', sans-serif;
}

/* START BUTTONS */
.yui-skin-sam .orbeon .btn,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn,
.yui-skin-sam .orbeon .fb-toolbox .fb-toolbox-inside .fb-tools .fb-tool .xforms-trigger button,
.yui-skin-sam .btn {
    background-image: none;
    padding: 5px 10px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: none;
    text-shadow: none;
    border: solid 1px #ccc;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
}

.yui-skin-sam .orbeon .orbeon-portlet-body .btn-primary,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn.ladda-button,
.yui-skin-sam .btn-primary {
    background-color: #35C2E1;
    border: solid 1px #35C2E1;
    color: #ffffff;
}

.yui-skin-sam .orbeon .btn-danger i.fa,
.yui-skin-sam .orbeon .btn-warning i.fa,
.yui-skin-sam .orbeon .btn-primary i.fa,
.yui-skin-sam .orbeon .btn-inverse i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-danger i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-warning i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary i.fa,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-inverse i.fa {
    color: #333333;
}

.yui-skin-sam .orbeon .btn:hover,
.yui-skin-sam .orbeon .btn:focus,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn:hover,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn:focus,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn:active,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn.active,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn.disabled,
.yui-skin-sam .orbeon .xforms-trigger-appearance-xxforms-primary .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
}

.yui-skin-sam .btn-primary:hover,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn-primary:hover,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn.ladda-button:hover,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn-primary:focus,
.yui-skin-sam .orbeon .orbeon-portlet-body .btn.ladda-button:focus,
.yui-skin-sam .btn-primary:focus {
    background-color: #1fb3d3;
}

/* END BUTTONS */

.yui-skin-sam .orbeon .container,
.yui-skin-sam .orbeon .container .row,
.yui-skin-sam .orbeon .container .row > .span12 {
    width: 100%;
}

.yui-skin-sam .orbeon .row {
    margin: auto 0;
}

.yui-skin-sam .orbeon .container .row > .span12 {
    margin-left: 0;
}

.yui-skin-sam .orbeon .container {
    max-width: 100%;
    width: 100%;
}

.yui-skin-sam .orbeon .input-append > * {
    height: auto !important;
}

div.mask {
    top: 5vh;
    height: unset !important;
    width: unset !important;
}

.yui-skin-sam .orbeon .xbl-component input,
.yui-skin-sam .orbeon .xbl-component textarea,
.yui-skin-sam .orbeon .xbl-component select {
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    border: 1px solid #CED2D6;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.yui-skin-sam .orbeon input:not(input[type=checkbox], input[type=radio]),
.yui-skin-sam .orbeon select {
    height: 36px;
}

.yui-skin-sam .orbeon .fb-toolbox .fb-toolbox-inside .fb-tools .fb-tool button {
    margin: 0.3em 0;
}

.yui-skin-sam .orbeon.orbeon-portlet-div {
    background-color: #F9F9F9;
    border: 0;
}

.yui-skin-sam .orbeon .fb-toolbox .fb-toolbox-inside .fr-orbeon-version {
    color: #747F8E;
}

.yui-skin-sam .yui-dialog .yui-panel {
    border-width: 0;
}

.yui-skin-sam .yui-dialog .yui-panel .hd,
.yui-skin-sam .yui-dialog .yui-panel .bd,
.yui-skin-sam .yui-dialog .yui-panel .ft {
    border-width: 0;
}

.yui-skin-sam .yui-dialog {
    border-radius: 2px;
}

.yui-skin-sam .yui-dialog .yui-panel .hd {
    background-color: white;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.yui-skin-sam .yui-dialog .yui-panel .bd {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* END Orbeon Specific CSS */